<div class="rki-item" data-id="{{ id }}">
    <div class="row">
        <div id="rki-item-image-{{ id }}" class="col-sm-3 pub-image">
            <img src="{{ image }}" class="img-responsive thumbnail" alt="">
            <a id="rki-item-url-{{ id }}" href="{{ url }}"></a>
        </div>
        <div class="col-sm-8">
            <div id="rki-item-title-{{ id }}"><strong>Название:</strong> {{ title }} </div>
            <div id="rki-item-title_additional-{{ id }}" hidden><strong>Альтернативное
                название:</strong> {{ title_additional }} </div>
            <div id="rki-item-pubhouse-{{ id }}"><strong>Издательство:</strong> {{ pubhouse }} </div>
            <div id="rki-item-authors-{{ id }}"><strong>Авторы:</strong> {{ authors }} </div>
            <div id="rki-item-pubyear-{{ id }}"><strong>Год издания:</strong> {{ pubyear }} </div>
            <div id="rki-item-description-{{ id }}" hidden><strong>Описание:</strong> {{ description }} </div>
            <div id="rki-item-keywords-{{ id }}" hidden><strong>Ключевые слова:</strong> {{ keywords }} </div>
            <div id="rki-item-pubtype-{{ id }}" hidden><strong>Тип издания:</strong> {{ pubtype }} </div>
        </div>
    </div>
</div>
